$background-black: #000000;
$background-grey: #3B4043;
$text-blue: #749DE6;
$text-white: #E8E6E3;


// @media screen and (max-width: 1170px)
//       $base_width: 960px // you need to indent it to (re)set it just within this media-query
//       // now you copy all the css rules/properties that contain or are relative to $base_width e.g.
//       #wrapper
//           width: $base_width
//           ...

// @media screen and (min-width: 1171px)
//     $base_width: 1160px
//       #wrapper
//           width: $base_width
//           ...